.border{
  display: box;
  background: red;
  width: 175px;
  height: auto;
}

.bodystyle{
    background-color:blanchedalmond;
    margin-left: 200px;
    margin-right: 200px;
}


a:link {
    color:#736F36;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #642b35;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #734E38;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #736F36;
    background-color: transparent;
    text-decoration: underline;
  }

.picture {
  width:50% fit-content;

}

.h1{
    color:#736F36;
    font-size: 60px;
    text-align: left; 
    margin-top: 50px;
    font-family: nitti-grotesk;
    font-style: bold;
    padding-top: 30px;
    padding-bottom: 30px;

}

.h2{
    color:#734E38;
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    padding-bottom:30px;
    font-family: nitti-grotesk;
    font-weight: 400;
    font-style: normal;

}

.h3{
    color:#736F36;
    font-size: 80px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: vandertak-rough;
    font-weight: 400;
    font-style: normal;

}

.button{
    color:#734E38;
    font-size: 55px;
    text-align:center;
    padding: 30px;
    font-family: nitti-grotesk;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;


}


.home{
    color:#734E38;
    font-size: 25px;
    text-align: left;
    margin-top: 50px;
    padding-bottom: 30px;
    font-family: nitti-grotesk;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    left: 10%;
    bottom: 10%;


}

.forward{
  color:#734E38;
  font-size: 25px;
  text-align: left;
  margin-top: 50px;
  padding-bottom: 30px;
  font-family: nitti-grotesk;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  left: 80%;
  bottom: 10%;
}

.h4{
    color:#734E38;
    font-size: 50px;
    text-align: left;
    line-height: 25px;
    margin-top: 50px;
    padding-bottom: 30px;
    font-family: nitti-grotesk;
    font-weight: 400;
    font-style: normal;
}

.h5{
        color:#736F36;
        font-size: 200px;
        text-align: left; 
        margin-left: 125px;
        font-family: vandertak-stencil-applied;
        font-style: bold;
        padding-bottom: 30px;
}

.styleguide{
  width: 50%;

 

}
.e1i0{
  max-width: 50%;
  margin-top: 50px;
  margin-right: 200px;
  cursor: pointer;


}
.e1i1{
  max-width: 50%;
  margin-left: -100px;
  margin-right: 200px;

}


.hide {
  display: none;
  
}
    
.myDIV:hover + .hide {
  display: block;
  
  
}

.me {
  position: fixed;
  left: 60%;
  bottom: 35%;
  animation: Spin 3s linear infinite;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
   
  }
}


.text{
  color:white;
  font-size: 50px;
  text-align: left;
  line-height: 25px;
  margin-top: 400px;
  margin-left: 250px;
  padding-bottom: 30px;
  font-family: nitti-grotesk;
  font-weight: 400;
  font-style: normal;
 

}

.button2{
  color: white;
  font-size: 25px;
  text-align:center;
  padding: 30px;
  font-family: nitti-grotesk;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  position: fixed;
  left: 75%;
  bottom: 5%;
}

.eyel{
  position: fixed;
  left: 13%;
  bottom: 60%;
  animation: Shift 3s linear infinite;
}

.eyer{
  position: fixed;
  left: 43%;
  bottom: 46%;
  animation: Shift 3s linear infinite;
}

@keyframes Shift {
  0% {
    transform: translateX(-20px);

  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  
  }
  75% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
    
   
  }
}

.h1e2{
  color:black;
  font-size: 60px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  font-family: nitti-grotesk;
  font-style: bold;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 30px;

}




